button{
width: 250px;
height: 80px;
color: white;
border: rgb(26, 25, 25) 2px solid;
font-size: 36px;
font-family: "Roboto",sans-serif;
font-weight: 600;
cursor: pointer;
margin: 15px;
border-radius: 10px;
}

button:hover{
    background-color: rgb(49, 72, 64);
}

.boton_click{
    background-color: blue;
}

.boton_reiniciar{
    background-color: blueviolet;
}